<div class="container">
  <div class="col-50" layout="row" layout-align="center center">
    <therapy-pt-list
      [transfers]="transfers$ | async"
      (selected)="selectTransfer($event)"
      (deleted)="deleteTransfer($event)"
      (transferViewed)="viewTransfer($event)"
    ></therapy-pt-list>
  </div>
  <div class="col-50" layout="row" layout-align="center center">
    <therapy-pt-details
      [form]="form"
      [transfer]="selectedTransfer$ | async"
      (saved)="saveTransfer($event)"
      (cancelled)="cancel()"
    ></therapy-pt-details>
  </div>
</div>
