<div class="info-container container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Transfer Directory</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <p matLine>Transfer Name: {{ transfer?.name }}</p>
        <p matLine>Transfer Type: {{ transfer?.type }}</p>
        <p matLine>Common Cues: {{ transfer?.cueing }}</p>
        <p matLine>Functional: {{ transfer?.functional }}</p>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-button (click)="goBack()">Return</button>
    </mat-card-actions>
  </mat-card>
</div>
